 .news-and-notice {
    width: 1201px;
    height: 376px;
    margin: 0 auto;
    margin-top: 275px;
    margin-bottom: 20px;
}

 .news-and-notice .news {
    width: 878px;
    height: 376px;
    float: left;
}

 .news-and-notice .notice {
    width: 323px;
    height: 376px;
    float: right;
}

 .news-and-notice .news h3 {
    color: black;
    margin-bottom: 27px;
    height: 21px;
    font-size: 16px;
    line-height: 19px;
}

 .news-and-notice .news .news-content .hot-news {
    float: left;
    width: 422px;
    height: 328px;
    margin-right: 15px;
    position: relative;
}

 .news-and-notice .news .news-content .hot-news a .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    color: white;
    line-height: 40px;
}

 .news-and-notice .news .news-content ul {
    float: left;
    width: 441px;
    height: 328px;
}

 .news-and-notice .news .news-content ul li {
    line-height: 41px;
}

 .news-and-notice .news .news-content ul li a {
    float: left;
    color: #000000;
    margin-left: 10px;
}

 .news-and-notice .news .news-content ul li a.active {
    color: #00978E;
}

 .news-and-notice .news .news-content ul li span {
    float: right;
    margin-right: 40px;
}

 .news-and-notice .notice h3 {
    color: black;
    margin-bottom: 19px;
    width: 200px;
    height: 21px;
    font-size: 16px;
    line-height: 19px;
}

 .news-and-notice .notice ol li {

    
    overflow: hidden;
    margin-bottom: 12px;
}

 .news-and-notice .notice ol li:last-child {
    margin-bottom: 0;
}

 .news-and-notice .notice ol li .number {
    float: left;
    width: 53px;
    height: 57px;
    background-color: #00978E;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 57px;
    margin-right: 14px;
}

 .news-and-notice .notice ol li dl dt a {
    display: block;
    margin-top: 3px;
    color: #000000;
}

 .news-and-notice .notice ol li dl dd a {
    display: block;
    margin-top: 1px;
    color: #000000;
}

 .adv {
    width: 1200px;
    height: 168px;
    margin: 0 auto;
    margin-bottom: 28px;
}